html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header, footer {
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #CA7ADC;
}

header, footer {
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    margin: 0;
    height: fit-content;
}

h1 {
    transform: translateX(-50%);
    position: relative;
    left: 10%;
}

.content {
    flex: 8;
    display: flex;
}

.content, footer {
    font-family: 'Nunito Sans', sans-serif;
}

.sidebar {
    flex: 1;
    background-color: #A659B9;
}

h2,
.sidebar p {
    text-align: center;
}

h2 {
    background-color: #843997;
    margin: 0;
    padding: 16px;
}

.sidebar p {
    margin: 8px;
}

.mainContent {
    flex: 4;
    background-color: #BDB2FF;
    display: flex;
    flex-direction: column;
}

.taskInput,
.currentTask {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.taskInput *,
.currentTask * {
    margin: 16px;
}

label {
    font-size: 2rem;
}

[type="text"] {
    background-color: #F5F5F5;
    border-style: none;
    border: 1px solid;
    width: 50%;
    height: 32px;
    text-align: center;
    font-size: 1rem;
}

[type="submit"],
button {
    background-color: #ED6561;
    border-style: none;
    border: 1px solid;
    border-radius: 5%;
    padding: 8px 16px;
    width: fit-content;
}

.currentTask p {
    font-size: 2rem;
}

footer {
    justify-content: space-between;
}

footer p {
    margin-left: 32px;
}

a {
    text-decoration: none;
}

img {
    height: 32px;
    margin: 0 16px;
}

.highlight{
    background-color: #ED6561;
    margin: 0;
}