html,
body {
	height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
}

header,
footer {
	display: flex;
	flex: 1;
	align-items: center;
	background-color: #ca7adc;
}

header,
footer {
	text-align: center;
}

h1 {
	font-family: "Pacifico", cursive;
	font-size: 2rem;
	margin: 0;
	height: fit-content;
}

h1 {
	transform: translateX(-50%);
	position: relative;
	left: 10%;
}

.main {
	flex: 8;
	display: flex;
}

.main,
footer {
	font-family: "Nunito Sans", sans-serif;
}

.sidebar {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: #a659b9;
}

h2,
.sidebar p,
h3 {
	text-align: center;
}

h2 {
	background-color: #843997;
	margin: 0;
	padding: 16px;
}

.items {
	flex: 1;
}

.sidebar p,
h3 {
	margin: 8px;
}

.mainContent {
	flex: 4;
	background-color: #bdb2ff;
	display: flex;
	flex-direction: column;
}

.formContainer,
.currentTask,
form {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
}

.formContainer,
.currentTask {
	align-items: center;
}

form {
	width: 50%;
}

fieldset {
	display: flex;
	border: none;
	align-items: center;
	padding: 12px;
}

select {
	height: 2rem;
}

.taskInput *,
.currentTask * {
	margin: 16px;
}

label {
	font-size: 2rem;
	width: 175px;
}

[type="text"] {
	background-color: #f5f5f5;
	border-style: none;
	border: 1px solid;
	width: 50%;
	height: 32px;
	text-align: center;
	font-size: 1rem;
}

.submitButton,
button {
	border-style: none;
	border: 1px solid;
	border-radius: 5%;
	padding: 8px 16px;
	width: fit-content;
}

.submitButton,
.buttons button:last-child {
	background-color: #ed6561;
}

.submitButton {
	align-self: center;
}
.currentTask p {
	font-size: 2rem;
}

.buttons button:first-child {
	background-color: #5ee8ed;
}

footer {
	justify-content: space-between;
}

footer p {
	margin-left: 32px;
}

a {
	text-decoration: none;
}

img {
	height: 32px;
	margin: 0 16px;
}

.highlight {
	background-color: #ed6561;
	margin: 0;
}
